<body>
  <div class="fondo-inicio">
    <div class="row">
      <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="padding-top: 2cm;"> <br> <br>
        <h1 class="tittle">SOLFIX  </h1> <br><br><br>
        <h2 class="sub-tittle">SMART</h2> <br><br>
        <h2 class="sub-tittle">CITY</h2>
      </div>
      <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="padding-top: 2cm; ">
        <app-login-user></app-login-user> <br>
      </div>
    </div>
  </div>
</body>



<!--   <footer>
    <div class="col-12 footergray" style="background-color: rgb(197, 194, 194);">
      <h1 style="text-align: center;">Información de Contacto</h1>
      <div class="row justify-content-center">
        <div class="col-4 ">
          <p class="footer_tittle">Redes Sociales</p>
        </div>
        <div class="col-4 ">
          <p class="footer_tittle">FAQ</p>
        </div>
       <div class="col-4 ">
        <p class="footer_tittle">Contacto</p>
      </div>
      </div>
    </div>
  </footer> -->

