<header>
  <div class="fondo-inicio">
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
        <h1 style="align-content: center; color: white; padding-left:6cm; padding-top: 3cm; font-size: 3cm;">SOLFIX <br> SMART CITY</h1>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12  ">
        <br><br>
        <app-login-user></app-login-user>
      </div>
    </div>
  </div>
</header>
<body>
  BODY
  <button class="btn btn-danger">Bootstrap</button>
</body>
<footer>
FOOTER
</footer>
