
<form [formGroup]="formulario">

  <mat-form-field class="example-full-width">
    <mat-label>Latitud </mat-label>
    <input matInput type="number" formControlName="latitud" name="latitud" id="latitud" class="form-control"
    placeholder="Digite latitud">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Latitud</mat-label>
    <input matInput type="number" formControlName="longitud" name="longitud" id="longitud" class="form-control"
    placeholder="Digite longitud">
  </mat-form-field>


    <button  *ngIf="errores()" disabled>INGRESAR</button>
    <button class="btn btn-primary" *ngIf="!errores()" (click)="onSubmit()">INGRESAR</button>

</form>
