
  <div class=" col col-sm-12 col-md-12 col-lg-6 "  >
    <div class="card " style="width: 9cm;">

          <h2 style="text-align: center; padding-top: 1.5cm;">BIENVENIDO</h2>
          <form [formGroup]="formulario" style="padding-left: 1cm;">
            <mat-form-field class="center">
              <mat-label>Usuario <small *ngIf="mailError()" style="color: red;">Formato correo
                Inválido</small></mat-label>
              <input matInput type="email" formControlName="email" name="email" id="email" class="form-control center"
              placeholder="email@ejemplo.com">
            </mat-form-field>
            <div class="form-group mb-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" formControlName="password" name="password" id="password" class="form-control"
                  placeholder="Ingrese su contraseña">
                </mat-form-field>

            </div>
            <div class="center">
              <button  *ngIf="errores()" disabled>INGRESAR</button>
              <button class="btn btn-primary" *ngIf="!errores()" (click)="ingresar()">INGRESAR</button>

            </div>

          </form> <br><br>
    </div>
  </div>
